
<div class="l-navbar bg-white border fixed-top" id="nav-bar" style="width: 200px">
  <nav class="nav">
    <div>
      <a href="#" class="nav_logo">
        <i class="bx bx-layer nav_logo-icon"></i>
        <span class="nav_logo-name">PCNTT</span>
      </a>
      <hr/>
      <div class="nav_list">
        <% var isActived = path.includes('dashboard') ? 'active-nav' : '' %>
        <a href="/dashboard" class="nav_link <%= isActived %>">
          <i class="bi bi-bar-chart-fill" style=" font-size: 22px;"></i>
          <span class="nav_name">Thống kê</span>
        </a>
        <% var isActived = path.includes('list-user') ? 'active-nav' : '' %>
        <a href="/list-user" class="nav_link <%= isActived %>">
          <i class="fs-4 bi-people"></i>
          <span class="nav_name">Tài khoản</span>
        </a>
        <% var isActived = path.includes('list-documentCome') ? 'active-nav' : '' %>
        <a href="/list-documentCome" class="nav_link <%= isActived %>">
          <i class="bi bi-file-earmark-arrow-down" style=" font-size: 22px;"></i>
          <span class="nav_name">Văn bản đến</span>
        </a>
        <% var isActived = path.includes('list-documentGo') ? 'active-nav' : '' %>
        <a href="/list-documentGo" class="nav_link <%= isActived %>">
          <i class="bi bi-file-earmark-arrow-down" style=" font-size: 22px;"></i>
          <span class="nav_name">Văn bản đi</span>
        </a>
      </div>
    </div>
  </nav>
</div>
<script
    type="application/javascript"
  src="../../js/admin.js"
></script>
